$primary-color: #163561;
$gold-color: #FBB400;
$blue-light-color: #99BAED;
$white: #FAFBFF;
$white-second: #E5ECFE;
$social: #D3E5FF;

$ff-Catamaran: 'Catamaran', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extraBold: 800;